# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directory
venv/
env/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# If you are using Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Media folder (user uploaded content)
media/

# Static folder (if generated locally)
staticfiles/

# Local settings
settings_local.py

# Test coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Environments and IDEs
.vscode/